.started
  max-height: 100vh
  padding: 0 135px

.started__title,
.started__headline
  font-family: 'GilroyBold'
  font-size: 50px
  line-height: normal
  text-align: center
  text-transform: capitalize
  color: #4F79A4

.started__headline
  font-family: 'Gilroy'
  text-transform: none

.started__img-wrapper
  display: block
  margin: 0 auto
  margin-top: 60px
  background-image: url('../../assets/mobile-background.png')
  background-repeat: no-repeat
  background-position: 50%
  background-position-y: 15px

.started__img
  transform: rotate(-3deg)
  filter: drop-shadow(2px 25px 20px hsla(0, 0%, 77%, 0.5))

.started__travel
  display: flex
  justify-content: flex-start
  align-items: flex-end

.plant
  margin-right: -30px