.payments
  min-height: 100vh
  margin: 0 135px

.payments__wrapper
  display: flex
  justify-content: space-around
  align-items: center

.payments__title-wrapper
  display: flex
  flex-direction: column

.payments__title
  font-family: 'GilroyBold'
  font-size: 34px
  line-height: normal
  text-align: left
  color: #4F79A4
  margin: 0

.payments__headline
  font-family: 'Gilroy'
  font-size: 34px
  line-height: normal
  text-align: left

.payments__text
  font-family: 'Cabin'
  font-size: 14px
  line-height: 26px
  text-align: left
  color: #A5ADB1
  max-width: 330px